<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIOSKScreenConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
   
    <add name="KIOSKScreenConfigurator.Properties.Settings.KIOSK_screen_configuratorConnectionString"
      connectionString="Data Source=M-ALMESHERQE\SQLEXPRESS;Initial Catalog=&quot;KIOSK screen configurator&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <KIOSKScreenConfigurator.Properties.Settings>
      <setting name="mycon" serializeAs="String">
        <value>x</value>
      </setting>
    </KIOSKScreenConfigurator.Properties.Settings>
  </applicationSettings>
</configuration>