<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    
    <add name="mycon"
      connectionString="Data Source=M-ALMESHERQE\SQLEXPRESS;Initial Catalog=&quot;KIOSK screen configurator&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>